{% extends 'layout.html' %}

{% block content1 %}
<div class="form-container">
    <h3>Actualizar ToDo</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="input-container">
            <label for="title">Título</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="input-container">
            <label for="description">Descripción</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <div class="input-container">
            <label for="status">Estado</label>
            {{ form.status }}
            {{ form.status.errors }}
        </div>

        <div class="button-container">
            <a class="cancel-button" href="{% url 'todo_details' todo.id %}">Cancelar</a>
            <button class="save-button" type="submit">Guardar</button>
            <a class="delete-button" href="{% url 'delete_todo' todo.id %}">Eliminar</a>
        </div>
    </form>
</div>
{% endblock %}
