{% extends 'layout.html' %}

{% block content1 %}
    <a class="add-todo" href="{% url 'create_todo' %}">
        Agregar Tarea
    </a>

    <section class="todo-section">
        {% if todos %}
            <ul class="todo-list">
                {% for todo in todos %}
                    <a href="{% url 'todo_details' todo.id %}">
                        <li class="todo-item">
                            <p>{{ todo.title }}</p>
                            <p>Estado: {{ todo.get_status_display }}</p>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay tareas</p>
        {% endif %}
    </section>

{% endblock %}