body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: tan;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;

}

header .home-button {
    width: 40%;
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none !important;
    color: inherit !important;
    background: none !important;
    padding: 0 0 0 2rem !important;
}

nav {
    display: flex;
    justify-content: right;
    width: 40%;
}

nav li {
    list-style: none;
    font-weight: 500;
    color: black;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
    transition: 200ms;
    padding: .5rem;
    border-radius: .5rem;
}

a:hover {
    color: white;
    background-color: darkcyan;
}

section {
    padding: 4rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-todo {
    font-weight: 600;
    background-color: darkcyan;
    color: white;
    padding: 1rem;
}

.add-todo:hover {
    background-color: cyan;
    color: black;
}

.todo-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;

    width: 100%;
    max-width: 600px;  /* evita que se estire demasiado */
}

.todo-item {
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

a .todo-item {
    color: black !important;
}

.todo-list p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.todo-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.todo-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 1rem 0;
}

.button-container a {
    border-radius: .5rem;
}

.edit-button {
    background-color: greenyellow;
}

.return-button {
    background-color: #f3f3f3;
}